<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Entities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Entities.Properties.Settings.BookCatalogConnectionString"
      connectionString="Data Source=OZERICH-ПК;Initial Catalog=BookCatalog;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Entities.Properties.Settings.BookCatalogConnectionString1"
      connectionString="Data Source=OSISOFT-PC;Initial Catalog=BookCatalog;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Entities.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Initial Catalog=BookCatalog; Integrated Security=SSPI</value>
      </setting>
    </Entities.Properties.Settings>
  </userSettings>
</configuration>